{% extends '::base.html.twig' %}

{% block navigation %}
    <ul>
        <li><a href="#">xx</a></li>
        <li><a href="#">xx</a></li>
        <li><a href="#">xx</a></li>
    </ul>
{% endblock %}
{% block body %}
    </br>
    {% for tonton in tontons %}
        {{ tonton }}</br>
    {% endfor %}

{% endblock %}