.main {
    width: 929px;
    margin: auto;
    margin-top: 15px;
}

#line
{
    width: 740px;
height:50px;

    border: 1px #AAA solid;
    font-family: Arial;
    color:#333333;

}
#line_description
{
    width: 740px;
    height:200px;

    border: 1px #AAA solid;
    font-family: Arial;
    font-size:14px;
    color:#333333;

}
#line_pad{
    padding:15px;
}

#line_scroll_photo
{
    width: 740px;
    height:170px;
    border: 1px #AAA solid;
    font-family: Arial;
    color:#333333;
}

.lineg{
    float:left;
    height:auto;
    width:30%;
    background-color: #cccccc;
    font-weight: bold;
padding: 16px;
}

.lined{
    margin-left:33%;
    padding: 16px;

}

.title
{
    width: 740px;
    background-color: #f2f2f2;
    font-family: Arial;
    font-size:25px;
    font-weight: bold;
    padding: 5px;
    border: 1px #CCC solid;
}
.pic_cont
{
    width: 740px;

    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px #CCC solid;
    text-align: center;
   ;

}
img{
    margin:auto;
    right: 0;
    left:0;
    max-width: 90%;
    height: auto;
}