#main {
    width: 929px;
    margin: auto;

}

#block_form
{
    width: 800px;
    background-color: #f2f2f2;
    /*padding: 40px;*/
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;



}
#block_form_search
{

    background-color: #f2f2f2;
    padding-right: 550px;
    padding-left: 550px;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

input[type=text]{
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.but_connect{
    width: 200px;
    background-color: #4C94EF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

label{
    font-family:Arial;
    color: #555;
    font-size: 14px;
}


#ad ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 802px;
    background-color: #f1f1f1;
}

#ad li a {
    display: block;
    color: #000;
  /*  padding: 8px 16px;*/
    text-decoration: none;
}

#ad li a.active {
    background-color: #4CAF50;
    color: white;
}

#ad li a:hover:not(.active) {
    background-color: #BBBBBB;
    color: white;
}

#ad #elt{
     width:802px;
     height: 180px;
     /*pour centrer*/
      margin:auto;
     border: 1px #CCC solid;

     /*text*/
     color:#555;
     font-family: Arial;
 }

#ad #elt .asideg{
    float:left;
    width:30%;
    height:100%;
    position: relative;
    transform-style: preserve-3d;


 }
#ad #main_tile{
    width:804px;
    height: 40px;
    /*pour centrer*/
    margin:auto;
    font-size:20px;
    font-family: Arial;
    font-weight:bold;

    /*text*/
    color:#dddddd;
    background-color: #444;
    font-family: Arial;
}

#ad #elt .asided{
    width:300px;

    margin-left:30%;
    padding-top:10px;
}

#ad #elt .asided .title{
    font-size: 18px;
    font-family:Arial;
    font-weight: bold;
    color:#4CAF50;
}

#ad #elt .asided .price{
    font-size: 20px;
    font-family:Arial;
    font-weight: bold;
    color:#4CAF50;
}

img {
    max-width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




